*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: black;
}

div.container div.ball{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.99,-0.04, 0.58, 1);
}


div.container:hover div.ball {
    /* transform: rotateZ(120deg); */
    /* transform: scale(2); */
    transform: translateX(400px);
    background-color: red;
    cursor: pointer;
    /* border-radius: 50%; */
}
